// STYLES DES ÉLÉMENTS DE NAVIGATION

// Bouton menu
.btn-menu {
  background-color: $white;
  padding: 20px;
  font-size: 30px;

  border: none;
  outline: none;

  cursor: hand;

  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 3;

  &:hover {
    outline: none;
  }
}

//Navigation principale
.main-nav {
  background-color: $white;
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  left: 0;
  top: 0;

  a {
    display: block;
    font-size: 30px;

    @include font($font1, 30px);
    text-transform: uppercase;
    width: 50%;
    padding: 30px 0;

    &:hover {
      text-decoration: none;
      color: $teal;
      background-color: lighten($black, 75%);
    }
  }

  a + a {
    border-top: 1px dashed lighten($black, 70%);
  }

  opacity: 0;
  transform: scale(0);
  transform-origin: 50%;
  transition: all .3s ease-out;

  &.open{
    z-index: 2;
    opacity: 1;
    transform: scale(1);
  }

  .social-nav{
    margin-top: 50px;
  }
}

// STYLE DE LA SOCIAL NAV
.social-nav {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;

  a {
    padding: 0 10px;
    font-size: 25px;

    &:hover {
      .fa-facebook-square {
        color: $yellow;
      }
      .fa-twitter-square {
        color: $teal;
      }
      .fa-github-square {
        color: $red;
      }
      .fa-linkedin {
        color: $blue;
      }
    }
  }
}