// STYLE POUR NOTRE INTERFACE
section.portfolio {
  display: flex;
  flex-flow: row wrap;

  .project {
    width: calc(33.33% - 10px);
    margin: 5px;
    border: 1px dashed $black;
    padding: 10px;
    display: flex;
    flex-direction: column;

    h2, p {
      margin: 0;
    }

    img {
      order: -1;
      margin-bottom: 15px;
    }

    &-red {
      background-color: lighten($red, 45%);
      border-color: darken($red, 10%);
      h2, p {
        color: $red;
      }
    }
    &-yellow {
      background-color: lighten($yellow, 40%);
      border-color: darken($yellow, 10%);
      h2, p {
        color: $yellow;
      }
    }
    &-teal {
      background-color: lighten($teal, 45%);
      border-color: darken($teal, 10%);
      h2, p {
        color: $teal;
      }
    }
    &-blue {
      background-color: lighten($blue, 90%);
      border-color: darken($blue, 10%);
      h2, p {
        color: $blue;
      }
    }
  }

  @media screen and (max-width: 820px) {
    .project {
      width: calc(50% - 10px);
    }
  }

  @media screen and (max-width: 640px) {
    .project {
      width: 100%;
      margin: 10px 0;
    }
  }

}