// LES STYLES DE BASE DES BALISES <h>
h1, h2, h3, h4, h5, h6{
  font-family: $font1;
  font-weight: bold;
  line-height: rem(16px);
}

h1{
  font-size: rem(60px);
  text-transform: uppercase;
}

h2{
  font-size: rem(24px);
  text-transform: uppercase;
}

h3{
  font-size: rem(24px);
}

h4{
  font-size: rem(22px);
}

h5{
  font-size: rem(20px);
}

h6{
  font-size: $font-size;
}