//FICHIER DE CONFIGURATION POUR LES VARIABLES DE COULEUR

// Couleurs de base
$white: #fff;
$black: #303044;

// Couleurs de projet
$color-text: lighten($black, 15%);
$color-link: $color-text;

// Couleurs de projet spécifique
$red: (rgba(231, 29, 54, 1));
$yellow: rgba(255, 159, 28, 1);
$teal: rgba(46, 196, 182, 1);
$blue: rgba(1, 22, 39, 1);