//FICHIER DE CONFIGURATION POUR LES VARIABLES DE POLICE


/// Grosseur des textes
$font-size: 1rem;
$line-height: 1.3333rem;

/// Font family
$font1: "Saira Extra Condensed", sans-serif;
$font2: "Open Sans Condensed", sans-serif;

/// Fonts weight
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 500;
$fw-bold: 700;
